<nav id="nav-bar">
    <button onclick="location.href='/'" type="button">Home</button>
    <input id="search-text" name="search-text" type="text" placeholder="Search here!">
    <button onclick="location.href='/postimage'" type="button">Post</button>
    <button onclick="location.href='/login'" type="button">Log In</button>
</nav>