<!doctype html>
<html lang="en">

<body>
    <h2>Post an Image!</h2>
    <form>
        <div class="post">
            <fieldset>
                <h3>Image Information</h3>
                <label id="title">Title:</label>
                <label> <input type="text" placeholder="Insert Title" name="title"></label>

                <br />

                <label id="description">Description:</label>
                <label for="description-box"></label>
                <textarea id="description-box" rows="5" placeholder="Type a Description"></textarea>

                <br />

                <label id="image">Select Image: </label>
                <label><input type="file" name="image"></label>

                <br /><br />

                <div id="agree">
                    <label id="aup">I acknowledge that I have read and agreed with the <a href="">Acceptable Use Policy.</a></label>
                    <label><input type="checkbox" name="policy"></label>
                </div>

                <br />

                <div id="button">
                    <button type="submit">Post Image</button>
                </div>
                <br />

            </fieldset>
        </div>
    </form>
</body>
</html>