<!doctype html>
<html lang="en">

<body>
    <h2>Insert Post Title Here</h2>
        <div class="view">
            <section id="image">
                <img src="public/resources/chonkybee.png" alt="Image not found. Sorry!">
            </section>

            <br /><br />

            <div id="post-info">
                <section id="image-title">
                    <label>Image Title: </label>
                </section>

                <br />

                <section id="image-author">
                    <label>Image Author: </label>
                </section>

                <br />

                <section id="creation-time">
                    <label>Image Creation Time: </label>
                </section>

                <br />

                <section id="description">
                    <label>Description: </label>
                </section>

                <br />
            </div>
        </div>
</body>
</html>