* {
    color: black;
    border: none;
    box-sizing: border-box;
    cursor: url(../images/bumblebea.png), default;
}

h1 {
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 25pt;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 15pt;
    text-align: center;
    color: lightslategrey;
}

body {
    background: url(../images/blue-marble.jpeg);
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    background: url(../images/banner.png) no-repeat center;
    background-color: rgb(192,217,247);
    background-size: 50%, 50%;
    height: 175px;
    border: 5px solid white;
}

button {
    border-radius: 20px;
    border: 1px solid floralwhite;
    background-color: #A7C7E7;
    color: floralwhite;
    cursor: pointer;
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#post-info label {
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    color: lightslategrey;
    font-size: 15pt;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;
}

span {
    padding-inline: 5px;
}

a {
    text-decoration: none;
}

.login {
    width: 500px;
    font-size: 20pt;
    height: fit-content;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

.post, .register {
    width: 800px;
    font-size: 15pt;
    height: fit-content;
    margin: 10px auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

#comment-section {
    width: 500px;
    font-size: 15pt;
    height: 165px;
    overflow: scroll;
}

#post-info {
    width: 95%;
    font-size: 12pt;
    padding: 15px;
    height: auto;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

img {
    max-height: 450px;
    display: block;
    margin: auto;
    border: 10px solid #A7C7E7;
}

#description-box {
    width: 100%;
    margin: 5px 0 22px 0;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background: aliceblue;
}

#field, #image {
    float: left;
    width: 50%;
}

#button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#login-button {
    width: 150px;
}

#logout-button {
    width: 150px;
    padding: revert;
}

#post-details {
    height: 45%;
    font-size: 10px;
}

#forgot{
    font-size: 15pt;
    padding: 5px;
    text-align: center;
}

#account-made, #attest, #agree {
    font-size: 12pt;
    text-align: center;
}

#home-container {
    width: 99%;
    height: 95vh;
    margin: auto;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr .5fr 5fr 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "banner"
    "nav"
    "content"
    "footer";
}

#grid-container {
    display: grid;
    text-align: center;
    font-size: 10pt;
    justify-content: center;
    grid-area: content;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
    height: fit-content;
}

#banner {
    display: flex;
    justify-content: center;
    grid-area: banner;
}

#nav {
    display: flex;
    height: available;
    grid-area: nav;
    margin: 4px;
}

#footer {
    background-color: rgb(192,217,247);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-top: 5px solid white;
    grid-area: footer;
    position: absolute;
    bottom: 0;
}

#search-text {
    width: 70%;
    background-image: url(../images/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 2px solid white;
    height: 50px;
    margin: revert;
}

#comment-text {
    background-image: url(../images/speech-bubble.png);
    background-repeat: no-repeat;
    background-position: 560px;
    background-size: 4%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 595px;
    border: 2px solid white;
}

#flash-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 4px;
}

#flash-message div {
    text-align: center;
    padding: 15px;
    width: fit-content;
    border: 2px solid white;
}

.alert-danger {
    background-color: #ffc3c3;
}

.alert-success {
    background-color: #deffe8;
}

.card {
    background-color: aliceblue;
    border: 2px solid white;
    padding: 20px;
}