* {
    border: none;
    box-sizing: border-box;
    cursor: url(../resources/bumblebea.png), default;
}

h1 {
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 25pt;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

h4 {
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 15pt;
    text-align: center;
    color: lightslategrey;
}

body {
    background: url(../resources/blue-marble.jpeg);
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    height: auto;
}

header {
    background: url(../resources/banner.png) no-repeat center;
    background-color: rgb(192,217,247);
    background-size: 50%, 50%;
    height: 175px;
    z-index: 100;
    border: 5px solid white;
}

footer {
    background-color: rgb(192,217,247);
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    border-top: 5px solid white;
}

button {
    border-radius: 20px;
    border: 1px solid floralwhite;
    background-color: #A7C7E7;
    color: floralwhite;
    cursor: pointer;
    font-family: "Bodoni 72 Smallcaps", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

span {
    padding-inline: 5px;
}

.login {
    width: 500px;
    font-size: 20pt;
    height: auto;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

.register {
    width: 800px;
    font-size: 15pt;
    height: 500px;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

.post {
    width: 800px;
    font-size: 15pt;
    height: auto;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

#post-info {
    width: 800px;
    font-size: 15pt;
    padding: 15px;
    height: auto;
    margin: auto;
    background: white;
    box-shadow: inset 0 0 0 10px #A7C7E7;
}

img {
    max-height: 450px;
    display: block;
    margin: auto;
    border: 10px solid #A7C7E7;
}

#description-box {
    width: 100%;
    margin: 5px 0 22px 0;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background: aliceblue;
}

#field {
    float: left;
    width: 50%;
}

#button, #item-counter {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#forgot{
    font-size: 15pt;
    padding: 5px;
    text-align: center;
}

#account-made, #attest, #agree {
    font-size: 12pt;
    text-align: center;
}

#content {
    display: grid;
    position: relative;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: .25em;
    margin: 4px;
    width: 100%;
    z-index: 10;
}

#home-container {
    position: relative;
    height: fit-content;
}

#search-text {
    width: 69%;
    background-image: url(../resources/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: right center;
}